

.text-container{
    width: 80vw;
    margin: auto;
    letter-spacing: 3px;
}



.background{
    background-color: tomato;
    color: white;
    padding: 2rem;
}

.specing{
    letter-spacing: 2px;
}



